@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.sideBar_container {
  width: 84px;
  height: 100vh;
  position: fixed;
  top: 64px;
  transition: 0.08s ease-out;
}
.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.link {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff;
  height: 64px;
  width: 56px;
  padding: 10px 0;
  border-radius: 8px;
  cursor: pointer;
}
.link:hover {
  background-color: #87878773;
}
@media (max-width: 680px) {
  .sideBar_container {
    display: none;
  }
}
